{% import _self as sheet %}
{% macro genLifeEventsSection(variables) %}
 <div class="row border border-dark p-0">
     <div class="col font-weight-bold bg-black pl-1">LIFE EVENTS</div>
  </div>
  <div class="row border border-dark p-0">
     <div class="col-1 pl-1 border border-dark">Year</div>
     <div class="col-11 pl-1 border border-dark">Event</div>
  </div>
  <div class="row border border-dark p-0">
{% for i in 1..20 %}
 {% set id= i  %}
{% if id < 10 %}
  {% set id = '0' ~id %}
{% endif  %}
{% if variables['lifeEventYear'~id] is defined %}
  {{ sheet.genLifeEvent(id, variables['lifeEventYear'~id], variables['lifeEventDetail'~id])}}
{% endif  %}
{% endfor %}
 </div>{% endmacro genLifeEventsSection %}
{# ******************************************************************************************************************************** #}
{% macro genSkillSection(variables, statName, statSkillNames, length, statValue) %}
<div class="col-12 p-0">
  <div class="row border border-dark pb-1 pt-1">
    <div class="col-1 font-weight-bold">{{statName}}</div>
    <div class="col-11">
      <div class="row">
{% for skillName in statSkillNames %}
{% set id= loop.index  %}
{% if id < 10 %}
  {% set id = '0' ~id %}
{% endif  %}
{% set valVariable = statName ~ '_SkillValue_' ~ id %}
        {{ sheet.genSkill(id, statName, skillName , variables[statName ~ '_SkillValue_' ~ id], variables['{{statName}}_SkillIP_{{id}}'], variables['{{statName}}_SkillChipped_{{id}}'], statValue)}}
{% endfor %}
      </div>
    </div>
  </div>
</div>{% endmacro genSkillSection %}
{# ******************************************************************************************************************************** #}
{% macro genSkill(id, title, skillName, skillValue, ip, isChipped, statValue) %}
  <div class="col-12 col-md-6 col-xl-4 align-middle">
    <div class="row">
      <div class="col p-0">
        <input value="{{ isChipped }}" title="Is a Chipped Skill" disabled
          class="d-inline-block align-middle" id="${{title}}_SkillChipped_{{id}}" name="${{title}}_SkillChipped_{{id}}" type="checkbox"/>
          {{ skillName }}
          <span class="float-right">
          {{' [' ~ (statValue + skillValue) ~ ']'}}
          </span>
      </div>
      <div class="col-1 border border-dark p-0 text-center" title="current ip">{{ ip }}</div>
      <div class="col-2 border border-dark p-0 text-center" title="current rank">{{ skillValue }}</div>
    </div>
  </div>
{% endmacro genSkill %}
{# ******************************************************************************************************************************** #}
{% macro genSkillName(id, title, skillName, skillValue, ip, isChipped, statValue) %}
  <div class="col-12 col-md-6 col-xl-4 align-middle">
    <div class="row">
      <div class="col p-0">
        <input value="{{ isChipped }}" title="Is a Chipped Skill" disabled
          class="d-inline-block align-middle" id="${{title}}_SkillChipped_{{id}}" name="${{title}}_SkillChipped_{{id}}" type="checkbox"/>
          {{title}}: {{ skillName }}
          <span class="float-right">
          {{' [' ~ (statValue + skillValue) ~ ']'}}
          </span>
      </div>
      <div class="col-1 border border-dark p-0 text-center" title="current ip">{{ ip }}</div>
      <div class="col-2 border border-dark p-0 text-center" title="current rank">{{ skillValue }}</div>
    </div>
  </div>
{% endmacro genSkillName %}
{# ******************************************************************************************************************************** #}
{% macro genSpecialAbility(skillName, skillValue, ip) %}
  <div class="col-12 col-md-6 col-xl-4 align-middle">
    <div class="row">
      <div class="col">{{ skillName }}</div>
      <div class="col-1 border border-dark p-0" title="current ip">{{ ip }}</div>
      <div class="col-2 border border-dark p-0" title="current rank">{{ skillValue }}</div>
    </div>
  </div>
{% endmacro genSpecialAbility %}
{# ******************************************************************************************************************************** #}
{% macro genStat(name, stat, baseValue, currValue) %}
  {% set bv = 0 %}
  {% if baseValue is defined and baseValue >= 0 %}
    {% set bv = baseValue %}
  {% endif %}
  {% set cv = 0 %}
  {% if currValue is defined and currValue >= 0 %}
    {% set cv = currValue %}
  {% endif %}
  <div class="col-1 pl-0 pr-1 text-right">{{name}}</div>
  <div class="col-2 pl-0 pr-0 text-center border border-dark">
  [{{ bv }}/{{ cv }}]
  </div>{% endmacro genStat %}
{# ******************************************************************************************************************************** #}
{% macro genGear(id, value) %}
    <div class="col-6 col-md-4 col-xl-3 border border-dark pl-1 pr-0 ">{{ value }}</div>{% endmacro genGear %}
{# ******************************************************************************************************************************** #}
{% macro genWeapon(id, name, note, type, acc, conc, dmg, shots, rof, rng, rel, mag ) %}
<div class="col-12">
  <div class="row p-0 small">
    <div class="col-3 border border-dark p-0">{{name}}</div>
    <div class="col-1 border border-dark p-0" title="weapon type">{{type}}</div>
    <div class="col-1 border border-dark p-0" title="weapon accuracy">{{acc}}</div>
    <div class="col-1 border border-dark p-0" title="Weapon concealment">{{conc}}</div>
    <div class="col-2 border border-dark p-0" title="weapon damage">{{dmg}}</div>
    <div class="col-1 border border-dark p-0" title="# of shots">{{shots}}</div>
    <div class="col-1 border border-dark p-0" title="Rate of Fire">{{rof}}</div>
    <div class="col-1 border border-dark p-0" title="Weapon range">{{rng}}</div>
    <div class="col-1 border border-dark p-0" title="Weapon Reliability">{{rel}}</div>
  </div>
  <div class="row small border border-dark ">
    <div class="col-1">Notes:</div>
    <div class="col-11">{{note}}</div>
  </div>
</div>{% endmacro genWeapon %}
{# ******************************************************************************************************************************** #}
{% macro genCyber(id, value, hl) %}
    <div class="col-11 col-md-5 col-lg-3 border border-dark">{{ value }}</div>
    <div class="col-1 border border-dark">{{ value }}</div>{% endmacro genCyber %}
{# ******************************************************************************************************************************** #}
{% macro genWoundSection(name, stunMod) %}
  <div class="row">
    <div class="col-12 pr-0 pl-0 text-center">{{ name }}</div>
  </div>
  <div class="row">
    <div class="col-12 form-check-inline text-center mr-0 ml-0 pl-0">
      <input type="checkbox" class="d-inline-block mr-0 ml-0 text-center">
      <input type="checkbox" class="d-inline-block mr-0 ml-0 text-center">
      <input type="checkbox" class="d-inline-block mr-0 ml-0 text-center">
      <input type="checkbox" class="d-inline-block mr-0 ml-0 text-center">
    </div>
  </div>
  <div class="row bg-black">
    <div class="col-12 pr-0 pl-0 text-center">Stun={{ stunMod }}</div>
  </div>{% endmacro genWoundSection %}
{# ******************************************************************************************************************************** #}
{% macro genArmorLayer(id, name, head, torso, rarm, larm, rleg, lleg, ev, type) %}
<div class="col-12">
<div class="row small">
  <div class="col-4 border border-dark p-0">{{name}}</div>
  <div class="col-1 border border-dark p-0">{{head}}</div>
  <div class="col-1 border border-dark p-0">{{torso}}</div>
  <div class="col-1 border border-dark p-0">{{rarm}}</div>
  <div class="col-1 border border-dark p-0">{{larm}}</div>
  <div class="col-1 border border-dark p-0">{{rleg}}</div>
  <div class="col-1 border border-dark p-0">{{lleg}}</div>
  <div class="col-1 border border-dark p-0">{{ev}}</div>
  <div class="col-1 border border-dark p-0">{{type}}</div>
</div></div>{% endmacro genArmorLayer %}
{# ******************************************************************************************************************************** #}
{% macro genSibling(id, name, gender, feeling, age) %}
<div class="col-12">
  <div class="row">
    <div class="col-5 border border-dark pl-1 pr-0 ">{{ name }}</div>
    <div class="col-2 border border-dark p-0 ">{{gender}}</div>
    <div class="col-2 border border-dark p-0 ">{{age}}</div>
    <div class="col-3 border border-dark p-0 ">{{feeling}}</div>
  </div>
</div>{% endmacro genSibling %}
{# ******************************************************************************************************************************** #}
{% macro genLifeEvent(id, year, event) %}
<div class="col-12">
  <div class="row">
    <div class="col-1 border border-dark pl-1">{{ year }}</div>
    <div class="col-11 border border-dark pl-1">{{event}}</div>
  </div>
</div>{% endmacro genLifeEvent %}
{# ******************************************************************************************************************************** #}
<div class="container-fluid bg-white black">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-2 bg-black border border-dark">
          NAME
        </div>
        <div class="col-9 border border-dark">{{ variables.name is defined ? variables.name }}
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-3 bg-black border border-dark">
          HANDLE
        </div>
        <div class="col-8 border border-dark">
          {{ variables.handle is defined ? variables.handle }}
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-2 bg-black border border-dark">
          ROLE
        </div>
        <div class="col-4 border border-dark">
          {{ variables.primaryrole is defined ? variables.primaryrole}}
        </div>
        <div class="col-2"></div>
        <div class="col-2 bg-black">REP</div>
        <div class="col-1 border border-dark">
        {{ variables.rep is defined ? variables.rep }}
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-4 bg-black border border-dark">
          SECONDARY ROLES
        </div>
        <div class="col-4 border border-dark">
          {{ variables.secondaryrole01 is defined ? variables.secondaryrole01 }}
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-4 border border-dark">
          {{ variables.secondaryrole02 is defined ? variables.secondaryrole02 }}
        </div>
        <div class="col-4 border border-dark">
          {{ variables.secondaryrole03 is defined ? variables.secondaryrole03 }}
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-2 bg-black">STATS</div>
        <div class="col-1 border border-dark">
        {{ variables.statPoints is defined ? variables.statPoints }}
        </div>
        <div class="col-5"></div>
        <div class="col-2 pl-0 pr-1 text-right">Humanity:</div>
        <div class="col-1 pl-0 pr-1 border border-dark">
          {{ (variables.empBase * 10) - variables.totalHL}}/{{ variables.empBase * 10}}
        </div>
      </div>
      <div class="row black font-weight-bold mt-1">
        {{ sheet.genStat('INT', 'int', variables.intBase, variables.intCurr) }}
        {{ sheet.genStat('REF', 'ref', variables.refBase, variables.refCurr) }}
        {{ sheet.genStat('TECH', 'tech', variables.techBase, variables.techCurr) }}
        <div class="col-1 pl-0 pr-1 text-right">Run:</div>
        <div class="col-1 pl-0 pr-1 border border-dark">
          {{ variables.run is defined ? variables.run }}
        </div>
      </div>
      <div class="row black font-weight-bold mt-1">
        {{ sheet.genStat('COOL', 'cool', variables.coolBase, variables.coolCurr) }}
        {{ sheet.genStat('ATTR', 'attr', variables.attrBase, variables.attrCurr) }}
        {{ sheet.genStat('LUCK', 'luck', variables.luckBase, variables.luckCurr) }}
        <div class="col-1 pl-0 pr-1 text-right">Leap:</div>
        <div class="col-1 pl-0 pr-1 border border-dark">
          {{ variables.leap is defined ? variables.leap }}
        </div>
      </div>
      <div class="row black font-weight-bold mt-1">
        {{ sheet.genStat('MA', 'ma', variables.maBase, variables.maCurr) }}
        {{ sheet.genStat('BODY', 'body', variables.bodyBase, variables.bodyCurr) }}
        {{ sheet.genStat('EMP', 'emp', variables.empBase, variables.empCurr) }}
        <div class="col-1 pl-0 pr-1 text-right">Lift:</div>
        <div class="col-1 pl-0 pr-1 border border-dark">
          {{ variables.lift is defined ? variables.lift }}
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 black">
      <div class="row">
        <div class="col-3 bg-black cp2020-bottom-white">Locations</div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">1<br>Head</div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">2-4<br>Torso</div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">5<br>RArm</div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">6<br>LArm</div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">7-8<br>RLeg</div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">9-0<br>LLeg</div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">EV</div>
      </div>
      <div class="row">
        <div class="col-3 bg-black cp2020-bottom-white">SP</div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">
          {{ variables.totalSPHead is defined ? variables.totalSPHead }}
        </div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">
          {{ variables.totalSPTorso is defined ? variables.totalSPTorso }}
        </div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">
          {{ variables.totalSPRArm is defined ? variables.totalSPRArm }}
        </div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">
          {{ variables.totalSPLArm is defined ? variables.totalSPLArm }}
        </div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">
          {{ variables.totalSPRLeg is defined ? variables.totalSPRLeg }}
        </div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">
          {{ variables.totalSPLLeg is defined ? variables.totalSPLLeg }}
        </div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">
          {{ variables.totalSPEV is defined ? variables.totalSPEV }}
        </div>
      </div>
      <div class="row">
        <div class="col-3 bg-black">SDP</div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">
          {{ variables.totalSDPHead is defined ? variables.totalSDPHead }}
        </div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">
          {{ variables.totalSDPTorso is defined ? variables.totalSDPTorso }}
        </div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">
          {{ variables.totalSDPRArm is defined ? variables.totalSDPRArm }}
        </div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">
          {{ variables.totalSDPLArm is defined ? variables.totalSDPLArm }}
        </div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">
          {{ variables.totalSDPRLeg is defined ? variables.totalSDPRLeg }}
        </div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">
          {{ variables.totalSDPLLeg is defined ? variables.totalSDPLLeg }}
        </div>
        <div class="col-1 border border-dark black small pl-0 pr-0 text-center">
        </div>
      </div>
      <div class="row mt-1 pl-1">
        <div class="col-3 border border-dark small font-weight-bold">
          <div class="row">
            <div class="col-9 text-right">STUN SAVE</div>
            <div class="col-3 small pl-0 pr-0 text-center border border-dark">
              {{ variables.stunSave is defined ? variables.stunSave }}
            </div>
          </div>
          <div class="row">
            <div class="col-9 text-right">DEATH SAVE</div>
            <div class="col-3 small pl-0 pr-0 text-center border border-dark">
              {{ variables.deathSave is defined ? variables.deathSave }}
            </div>
          </div>
          <div class="row">
            <div class="col-9 text-center">BTM</div>
            <div class="col-3 small pl-0 pr-0 text-center border border-dark">
              {{ variables.btm is defined ? variables.btm }}
            </div>
          </div>
          <div class="row">
            <div class="col-9 text-center">DMG BONUS</div>
            <div class="col-3 small pl-0 pr-0 text-center border border-dark">
              {{ variables.bonusDamage is defined ? variables.bonusDamage }}
            </div>
          </div>
          <div class="row">
            <div class="col-9 text-center">INIT. BONUS</div>
            <div class="col-3 small pl-0 pr-0 text-center border border-dark">
              {{ variables.initiative is defined ? variables.initiative }}
            </div>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-8 cp2020-wound-track">
          <div class="row">
            <div class="col-2 pr-0 pl-0 text-center">
            {{ sheet.genWoundSection('LIGHT', 0) }}
            </div>
            <div class="col-2 pr-0 pl-0 text-center">
            {{ sheet.genWoundSection('SERIOUS', -2) }}
            </div>
            <div class="col-2 pr-0 pl-0 text-center">
            {{ sheet.genWoundSection('CRITICAL', -2) }}
            </div>
            <div class="col-2 pr-0 pl-0 text-center">
            {{ sheet.genWoundSection('MORTAL 0', -3) }}
            </div>
            <div class="col-2 pr-0 pl-0 text-center">
            {{ sheet.genWoundSection('MORTAL', -4) }}
            </div>
          </div>
          <div class="row">
            <div class="col-2 pr-0 pl-0 text-center">
            {{ sheet.genWoundSection('MORTAL', -5) }}
            </div>
            <div class="col-2 pr-0 pl-0 text-center">
            {{ sheet.genWoundSection('MORTAL', -6) }}
            </div>
            <div class="col-2 pr-0 pl-0 text-center">
            {{ sheet.genWoundSection('MORTAL 4', -7) }}
            </div>
            <div class="col-2 pr-0 pl-0 text-center">
            {{ sheet.genWoundSection('MORTAL 5', -8) }}
            </div>
            <div class="col-2 pr-0 pl-0 text-center">
            {{ sheet.genWoundSection('MORTAL 6', -9) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1 bg-black pt-1 pb-1">
    <div class="col-6">SKILLS</div>
    <div class="col-5 text-right">GENERAL IP</div>
    <div class="col-1">
      {{ variables.generalIP is defined ? variables.generalIP }}
    </div>
  </div>
  <div class="row border border-dark pb-1 pt-1">
    <div class="col-1 font-weight-bold">SPECIAL ABILITIES</div>
    <div class="col-11">
      <div class="row">
      {{ variables.primary_special_ability }}
      {{ sheet.genSpecialAbility(variables.primary_special_ability, variables.primary_special_ability_value, variables.primary_special_ability_ip)}}
      {{ sheet.genSpecialAbility(variables.secondary_special_ability, variables.secondary_special_ability_value, variables.secondary_special_ability_ip)}}
      </div>
    </div>
  </div>
<div "row border border-dark">
{{ sheet.genSkillSection( variables, 'ATTR', ['Personal Grooming', 'Wardrobe & Style' ], 2,  variables.attrCurr) }}
{{ sheet.genSkillSection( variables, 'BODY', ['Endurance', 'Strength Feat', 'Swimming' ], 2, variables.bodyCurr) }}
{{ sheet.genSkillSection( variables, 'COOL', ['Interrogation' , 'Intimidate', 'Oratory', 'Resist Torture/Drugs', 'Rhetoric', 'Streetwise'], 2, variables.coolCurr) }}
{{ sheet.genSkillSection( variables, 'EMP', ['Animal Handler', 'Human Perception', 'Interview', 'Leadership', 'Perform' , 'Persuasion & Fast Talk', 'Seduction', 'Simper' , 'Social', 'Trance' ] , 2, variables.empCurr)}}
{{ sheet.genSkillSection( variables, 'INT', ['Accounting','Antropology','Astrogation','Awareness/Notice','Biology' ,'Biogenetics' ,'Botany' ,'Bureaucracy' ,'Business Sense' ,'Chemistry' ,'Composition' ,'Corporate Policy' ,'Culture' ,'Diagnose Illness' ,'Education & Gen. Know.','Field Surgery','Gamble' ,'Geology' ,'Hide/Evade' ,'History' ,'Library Search' ,'Mathematics' ,'Nuscuba' ,'Pharmacology' ,'Physics' ,'Programming' ,'Psychology' ,'Shadow/Track' ,'Space Survival' ,'Stock Market' ,'Street Survival' ,'System Knowledge' ,'Tactics' ,'Teaching' ,'Underwater Survival' ,'Wilderness Survival' ,'Zoology'], 2, variables.intCurr  )}}
</div>
  <div class="row border border-dark pb-1 pt-1">
    <div class="col-1 font-weight-bold">INT</div>
    <div class="col-11">
      <div class="row">
      {{ sheet.genSkillName('001', 'expert', variables.expert_SkillName_001, variables.expert_SkillValue_001, variables.expert_SkillIP_001, variables.expert_SkillChipped_001, variables.intCurr)}}
      {{ sheet.genSkillName('002', 'expert', variables.expert_SkillName_002, variables.expert_SkillValue_002, variables.expert_SkillIP_002, variables.expert_SkillChipped_002, variables.intCurr)}}
      {{ sheet.genSkillName('003', 'expert', variables.expert_SkillName_003, variables.expert_SkillValue_003, variables.expert_SkillIP_003, variables.expert_SkillChipped_003, variables.intCurr)}}
      {{ sheet.genSkillName('004', 'expert', variables.expert_SkillName_004, variables.expert_SkillValue_004, variables.expert_SkillIP_004, variables.expert_SkillChipped_004, variables.intCurr)}}
      {{ sheet.genSkillName('001', 'lang', variables.lang_SkillName_001, variables.lang_SkillValue_001, variables.lang_SkillIP_001, variables.lang_SkillChipped_001, variables.intCurr)}}
      {{ sheet.genSkillName('002', 'lang', variables.lang_SkillName_002, variables.lang_SkillValue_002, variables.lang_SkillIP_002, variables.lang_SkillChipped_002, variables.intCurr)}}
      {{ sheet.genSkillName('003', 'lang', variables.lang_SkillName_003, variables.lang_SkillValue_003, variables.lang_SkillIP_003, variables.lang_SkillChipped_003, variables.intCurr)}}
      {{ sheet.genSkillName('004', 'lang', variables.lang_SkillName_004, variables.lang_SkillValue_004, variables.lang_SkillIP_004, variables.lang_SkillChipped_004, variables.intCurr)}}
      {{ sheet.genSkillName('005', 'lang', variables.lang_SkillName_005, variables.lang_SkillValue_005, variables.lang_SkillIP_005, variables.lang_SkillChipped_005, variables.intCurr)}}
      </div>
    </div>
  </div>
{{ sheet.genSkillSection( variables, 'REF', ['Athletics','Brawling','Dance','Dodge/Escape','Driving','EVA','Fencing','Handgun','Heavy Weapon','Melee','Motorcycle','Op. Hvy. Machinery','Pilot: Deep Dive Suit[2]','Pilot: Dirigible[2]','Pilot: EVPA[2]','Pilot: Fixed Wing[2]','Pilot: Gyro[3]','Pilot: Hardshell[2]','Pilot: Hovercraft[2]','Pilot: Large Sub[2]','Pilot: Naval Ship[2]','Pilot: OTV[2]','Pilot: PA[2]','Pilot: Small Sub[2]','Pilot: Spaceplane/Shuttle[3]','Pilot: Vect. Thrust[3]','Remote System Op.[2]','Rifle','Stealth[2]','Submachinegun','Underwater Combat[2]','Underwater Heavy Weapon','Underwater Weapons','Zero-G Combat[2]','Zero-G Maneuver'], 2, variables.intCurr  )}}
{{ sheet.genSkillSection( variables, 'TECH',['Aero Tech[2]','AV Tech[3]','Basic Tech[2]','Bio Tech','Braindance Editing','Calligraphy','Cryotank Operation','Cyberdeck Design','Cyber Tech[2]','Demolitions[2]','Disguise','Elect. Security[2]','Electronics','First Aid','Forgery','Gyro Tech[3]','Operate Mining Equip.','Origami','PA Tech[3]','Paint or Draw','Pharmaceuticals[2]','Photo & Film','Pick Lock','Pick Pocket','Play Instrument','Pressure Suit Tech','Sonar Tech','Sub Tech','Sub Tech(Large)','Sub Tech(Small)','Tattooing','Weaponsmith[2]','Wetware Design'], 2, variables.intCurr  )}}
  <div class="row border border-dark pb-1 pt-1">
    <div class="col-1 font-weight-bold">OTHER</div>
    <div class="col-11">
      <div class="row">
      {{ sheet.genSkillName('01', 'other', variables.other_SkillName_01, variables.other_SkillValue_01, variables.other_SkillIP_01, variables.other_SkillChipped_01, 0)}}
      {{ sheet.genSkillName('02', 'other', variables.other_SkillName_02, variables.other_SkillValue_02, variables.other_SkillIP_02, variables.other_SkillChipped_02, 0)}}
      {{ sheet.genSkillName('03', 'other', variables.other_SkillName_03, variables.other_SkillValue_03, variables.other_SkillIP_03, variables.other_SkillChipped_03, 0)}}
      {{ sheet.genSkillName('04', 'other', variables.other_SkillName_04, variables.other_SkillValue_04, variables.other_SkillIP_04, variables.other_SkillChipped_04, 0)}}
      {{ sheet.genSkillName('05', 'other', variables.other_SkillName_05, variables.other_SkillValue_05, variables.other_SkillIP_05, variables.other_SkillChipped_05, 0)}}
      {{ sheet.genSkillName('06', 'other', variables.other_SkillName_06, variables.other_SkillValue_06, variables.other_SkillIP_06, variables.other_SkillChipped_06, 0)}}
      </div>
    </div>
  </div>
  <div class="row mt-1 bg-black pt-1 pb-1">
    <div class="col-6">CYBERWARE</div>
    <div class="col-5 text-right small">TOTAL HL</div>
    <div class="col-1">
      {{ variables.totalHL is defined ? variables.totalHL }}
    </div>
  </div>
  <div class="row pb-0">
    <div class="col-11 col-md-5 col-lg-3 border border-dark pl-1 pr-0 ">CYBER</div>
    <div class="col-1 border border-dark pl-1 pr-0 ">HL</div>
    <div class="col-5 d-none d-md-block col-lg-3 border border-dark pl-1 pr-0 ">CYBER</div>
    <div class="col-1 d-none d-md-block col-1 border border-dark pl-1 pr-0 ">HL</div>
    <div class="col-3 d-none d-lg-block border border-dark pl-1 pr-0 ">CYBER</div>
    <div class="col-1 d-none d-lg-block border border-dark pl-1 pr-0 ">HL</div>
  </div>
  <div class="row pb-1">
    {{ sheet.genCyber('01', variables.cyberName_01, variables.cyberHL_01)}}
    {{ sheet.genCyber('02', variables.cyberName_02, variables.cyberHL_02)}}
    {{ sheet.genCyber('03', variables.cyberName_03, variables.cyberHL_03)}}
    {{ sheet.genCyber('04', variables.cyberName_04, variables.cyberHL_04)}}
    {{ sheet.genCyber('05', variables.cyberName_05, variables.cyberHL_05)}}
    {{ sheet.genCyber('06', variables.cyberName_06, variables.cyberHL_06)}}
    {{ sheet.genCyber('07', variables.cyberName_07, variables.cyberHL_07)}}
    {{ sheet.genCyber('08', variables.cyberName_08, variables.cyberHL_08)}}
    {{ sheet.genCyber('09', variables.cyberName_09, variables.cyberHL_09)}}
    {{ sheet.genCyber('10', variables.cyberName_10, variables.cyberHL_10)}}
    {{ sheet.genCyber('21', variables.cyberName_21, variables.cyberHL_21)}}
    {{ sheet.genCyber('22', variables.cyberName_22, variables.cyberHL_22)}}
    {{ sheet.genCyber('23', variables.cyberName_23, variables.cyberHL_23)}}
    {{ sheet.genCyber('24', variables.cyberName_24, variables.cyberHL_24)}}
    {{ sheet.genCyber('25', variables.cyberName_25, variables.cyberHL_25)}}
    {{ sheet.genCyber('26', variables.cyberName_26, variables.cyberHL_26)}}
    {{ sheet.genCyber('27', variables.cyberName_27, variables.cyberHL_27)}}
    {{ sheet.genCyber('28', variables.cyberName_28, variables.cyberHL_28)}}
    {{ sheet.genCyber('29', variables.cyberName_29, variables.cyberHL_29)}}
    {{ sheet.genCyber('20', variables.cyberName_20, variables.cyberHL_20)}}
  </div>
  <div class="row mt-1 bg-black pt-1 pb-1">
    <div class="col">WEAPONS</div>
  </div>
  <div class="row pb-1">
  {{ sheet.genWeapon('01', variables.weaponName_01, variables.weaponNote_01,variables.weaponType_01, variables.weaponAcc_01, variables.weaponConc_01, variables.weaponDmg_01, variables.weaponShots_01, variables.weaponRof_01, variables.weaponRng_01, variables.weaponRel_01,variables.weaponMags_01) }}
  {{ sheet.genWeapon('02', variables.weaponName_02, variables.weaponNote_02,variables.weaponType_02, variables.weaponAcc_02, variables.weaponConc_02, variables.weaponDmg_02, variables.weaponShots_02, variables.weaponRof_02, variables.weaponRng_02, variables.weaponRel_02,variables.weaponMags_02) }}
  {{ sheet.genWeapon('03', variables.weaponName_03, variables.weaponNote_03,variables.weaponType_03, variables.weaponAcc_03, variables.weaponConc_03, variables.weaponDmg_03, variables.weaponShots_03, variables.weaponRof_03, variables.weaponRng_03, variables.weaponRel_03,variables.weaponMags_03) }}
  {{ sheet.genWeapon('04', variables.weaponName_04, variables.weaponNote_04,variables.weaponType_04, variables.weaponAcc_04, variables.weaponConc_04, variables.weaponDmg_04, variables.weaponShots_04, variables.weaponRof_04, variables.weaponRng_04, variables.weaponRel_04,variables.weaponMags_04) }}
  {{ sheet.genWeapon('05', variables.weaponName_05, variables.weaponNote_05,variables.weaponType_05, variables.weaponAcc_05, variables.weaponConc_05, variables.weaponDmg_05, variables.weaponShots_05, variables.weaponRof_05, variables.weaponRng_05, variables.weaponRel_05,variables.weaponMags_05) }}
  {{ sheet.genWeapon('06', variables.weaponName_06, variables.weaponNote_06,variables.weaponType_06, variables.weaponAcc_06, variables.weaponConc_06, variables.weaponDmg_06, variables.weaponShots_06, variables.weaponRof_06, variables.weaponRng_06, variables.weaponRel_06,variables.weaponMags_06) }}
  {{ sheet.genWeapon('07', variables.weaponName_07, variables.weaponNote_07,variables.weaponType_07, variables.weaponAcc_07, variables.weaponConc_07, variables.weaponDmg_07, variables.weaponShots_07, variables.weaponRof_07, variables.weaponRng_07, variables.weaponRel_07,variables.weaponMags_07) }}
  {{ sheet.genWeapon('08', variables.weaponName_08, variables.weaponNote_08,variables.weaponType_08, variables.weaponAcc_08, variables.weaponConc_08, variables.weaponDmg_08, variables.weaponShots_08, variables.weaponRof_08, variables.weaponRng_08, variables.weaponRel_08,variables.weaponMags_08) }}
  {{ sheet.genWeapon('09', variables.weaponName_09, variables.weaponNote_09,variables.weaponType_09, variables.weaponAcc_09, variables.weaponConc_09, variables.weaponDmg_09, variables.weaponShots_09, variables.weaponRof_09, variables.weaponRng_09, variables.weaponRel_09,variables.weaponMags_09) }}
  {{ sheet.genWeapon('10', variables.weaponName_10, variables.weaponNote_10,variables.weaponType_10, variables.weaponAcc_10, variables.weaponConc_10, variables.weaponDmg_10, variables.weaponShots_10, variables.weaponRof_10, variables.weaponRng_10, variables.weaponRel_10,variables.weaponMags_10) }}
  </div>
  <div class="row mt-1 bg-black pt-1 pb-1">
    <div class="col">ARMOR</div>
  </div>
  <div class="row small">
  <div class="col-4 border border-dark p-0">Name</div>
  <div class="col-1 border border-dark p-0 text-center">HEAD</div>
  <div class="col-1 border border-dark p-0 text-center">TORSO</div>
  <div class="col-1 border border-dark p-0 text-center">RARM</div>
  <div class="col-1 border border-dark p-0 text-center">LARM</div>
  <div class="col-1 border border-dark p-0 text-center">RLEG</div>
  <div class="col-1 border border-dark p-0 text-center">LLEG</div>
  <div class="col-1 border border-dark p-0 text-center">EV</div>
  <div class="col-1 border border-dark p-0 text-center">Type</div>
</div>
<div class="row pb-1">
  {{ sheet.genArmorLayer('01', variables.layer01_Name, variables.layer01_Head, variables.layer01_Torso, variables.layer01_RArm, variables.layer01_LArm, variables.layer01_RLeg, variables.layer01_LLeg, variables.layer01_EV, variables.layer01_Type) }}
  {{ sheet.genArmorLayer('02', variables.layer02_Name, variables.layer02_Head, variables.layer02_Torso, variables.layer02_RArm, variables.layer02_LArm, variables.layer02_RLeg, variables.layer02_LLeg, variables.layer02_EV, variables.layer02_Type) }}
  {{ sheet.genArmorLayer('03', variables.layer03_Name, variables.layer03_Head, variables.layer03_Torso, variables.layer03_RArm, variables.layer03_LArm, variables.layer03_RLeg, variables.layer03_LLeg, variables.layer03_EV, variables.layer03_Type) }}
  {{ sheet.genArmorLayer('04', variables.layer04_Name, variables.layer04_Head, variables.layer04_Torso, variables.layer04_RArm, variables.layer04_LArm, variables.layer04_RLeg, variables.layer04_LLeg, variables.layer04_EV, variables.layer04_Type) }}
  {{ sheet.genArmorLayer('05', variables.layer05_Name, variables.layer05_Head, variables.layer05_Torso, variables.layer05_RArm, variables.layer05_LArm, variables.layer05_RLeg, variables.layer05_LLeg, variables.layer05_EV, variables.layer05_Type) }}
  </div>
  <div class="row mt-1 bg-black pt-1 pb-1">
    <div class="col">GEAR</div>
  </div>
  <div class="row pb-1">
    {{ sheet.genGear('01', variables.gearName_01)}}
    {{ sheet.genGear('02', variables.gearName_02)}}
    {{ sheet.genGear('03', variables.gearName_03)}}
    {{ sheet.genGear('04', variables.gearName_04)}}
    {{ sheet.genGear('05', variables.gearName_05)}}
    {{ sheet.genGear('06', variables.gearName_06)}}
    {{ sheet.genGear('07', variables.gearName_07)}}
    {{ sheet.genGear('08', variables.gearName_08)}}
    {{ sheet.genGear('09', variables.gearName_09)}}
    {{ sheet.genGear('10', variables.gearName_10)}}
    {{ sheet.genGear('11', variables.gearName_11)}}
    {{ sheet.genGear('12', variables.gearName_12)}}
    {{ sheet.genGear('13', variables.gearName_13)}}
    {{ sheet.genGear('14', variables.gearName_14)}}
    {{ sheet.genGear('15', variables.gearName_15)}}
    {{ sheet.genGear('16', variables.gearName_16)}}
    {{ sheet.genGear('17', variables.gearName_17)}}
    {{ sheet.genGear('18', variables.gearName_18)}}
    {{ sheet.genGear('19', variables.gearName_19)}}
    {{ sheet.genGear('20', variables.gearName_20)}}
    {{ sheet.genGear('21', variables.gearName_21)}}
    {{ sheet.genGear('22', variables.gearName_22)}}
    {{ sheet.genGear('23', variables.gearName_23)}}
    {{ sheet.genGear('24', variables.gearName_24)}}
    {{ sheet.genGear('25', variables.gearName_25)}}
    {{ sheet.genGear('26', variables.gearName_26)}}
    {{ sheet.genGear('27', variables.gearName_27)}}
    {{ sheet.genGear('28', variables.gearName_28)}}
    {{ sheet.genGear('29', variables.gearName_29)}}
    {{ sheet.genGear('30', variables.gearName_30)}}
  </div>
  <div class="row mt-1 bg-black pt-1 pb-1">
    <div class="col">LIFEPATH</div>
  </div>
  <div class="row border border-dark p-0">
    <div class="col-2">Ethicity:</div>
    <div class="col-4">{{variables.ethnicity}}</div>
    <div class="col-2">Language:</div>
    <div class="col-4">{{variables.ethnicityLang}}</div>
  </div>
  <div class="row border border-dark p-0">
    <div class="col-4 font-weight-bold bg-black">MOTIVATIONS</div>
  </div>
  <div class="row border border-dark p-0 small">
    <div class="col-12 col-lg-4">
      <div class="row">
        <div class="col">Personality:</div>
      </div>
      <div class="row">
        <div class="col border border-dark">{{variables.personality}}</div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="row">
        <div class="col">Valued Person:</div>
      </div>
      <div class="row">
        <div class="col border border-dark">{{variables.valuedPerson}}</div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="row">
        <div class="col">Value Most:</div>
      </div>
      <div class="row">
        <div class="col border border-dark">{{variables.valueMost}}</div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="row">
        <div class="col">Feel About People:</div>
      </div>
      <div class="row">
        <div class="col border border-dark">{{variables.feelAboutPeople}}</div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="row">
        <div class="col">Valued Possession:</div>
      </div>
      <div class="row">
        <div class="col border border-dark">{{variables.valuedPossession}}</div>
      </div>
    </div>
  </div>
  <div class="row border border-dark p-0">
    <div class="col-4 bg-black font-weight-bold">APPEARANCE</div>
  </div>
  <div class="row border border-dark p-0">
    <div class="col-4">
      <div class="row">
        <div class="col">Clothes:</div>
      </div>
      <div class="row">
        <div class="col border border-dark">{{variables.clothes}}</div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col">Hairstyle:</div>
      </div>
      <div class="row">
        <div class="col border border-dark">{{variables.hairstyle}}</div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col">Affectations:</div>
      </div>
      <div class="row">
        <div class="col border border-dark">{{variables.affectations}}</div>
      </div>
    </div>
  </div>
  <div class="row border border-dark p-0">
    <div class="col">
      <div class="row p-0">
        <div class="col font-weight-bold bg-black p-0">FAMILY</div>
      </div>
      <div class="row p-0">
        <div class="col-2">Family Ranking:</div>
        <div class="col-10 border border-dark">{{variables.familyRanking}}</div>
      </div>
      <div class="row p-0 mt-1">
        <div class="col-2">Family Background:</div>
        <div class="col-10">
            {{variables.familyBackground}}
        </div>
      </div>
      <div class="row p-0">
        <div class="col p-0">Siblings({{variables.siblingsNumber}}):</div>
      </div>
      <div class="row">
        <div class="col-5 border border-dark pl-1 pr-0 ">Name</div>
        <div class="col-2 border border-dark pl-1">Gender</div>
        <div class="col-2 border border-dark pl-1">Age</div>
        <div class="col-3 border border-dark pl-1">Feeling</div>
      </div>
      <div class="row">
      {{ sheet.genSibling('01', variables.siblingsName01, variables.siblingsGender01, variables.siblingsFeeling01, variables.siblingsAge01) }}
      {{ sheet.genSibling('02', variables.siblingsName02, variables.siblingsGender02, variables.siblingsFeeling02, variables.siblingsAge02) }}
      {{ sheet.genSibling('03', variables.siblingsName03, variables.siblingsGender03, variables.siblingsFeeling03, variables.siblingsAge03) }}
      {{ sheet.genSibling('04', variables.siblingsName04, variables.siblingsGender04, variables.siblingsFeeling04, variables.siblingsAge04) }}
      {{ sheet.genSibling('05', variables.siblingsName05, variables.siblingsGender05, variables.siblingsFeeling05, variables.siblingsAge05) }}
      {{ sheet.genSibling('06', variables.siblingsName06, variables.siblingsGender06, variables.siblingsFeeling06, variables.siblingsAge06) }}
      {{ sheet.genSibling('07', variables.siblingsName07, variables.siblingsGender07, variables.siblingsFeeling07, variables.siblingsAge07) }}
      {{ sheet.genSibling('08', variables.siblingsName08, variables.siblingsGender08, variables.siblingsFeeling08, variables.siblingsAge08) }}
</div>
    </div>
  </div>

{{ sheet.genLifeEventsSection(variables)  }}
  <br />
</div>
